.menu{
  background: linear-gradient(286deg, rgba(124,91,166,1) 27%, rgba(208,43,119,1) 100%, rgba(206,255,14,0.816198456153441) 100%);
}

.option-menu{
  color: #fff !important;
  font-family: 'PT Sans', sans-serif !important;
  font-size: 0.99rem !important;
 
}
#logo-company:hover {
  transform: scale(1.5);
  transition: 500ms linear;
}

.option-menu::before{
  transform: scaleX(0) !important;
  transform-origin: bottom right !important;
}

.option-menu:hover::before{
  transform: scaleX(1) !important;
  transform-origin: bottom left !important;
  
}

.option-menu::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(198 100% 45%);
  z-index: -1;
  transition: transform .3s ease;
}

.option-menu {
  position: relative !important;
  
}

body{
  background-image: url('../images/fondo\ gab\ _Mesa\ de\ trabajo\ 1.jpg') !important;
  background-repeat: repeat;
  background-size: 3500px 1500px;
}
.img-size{
  width: 100%;
  height: 100%;
}

.box-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.inner-image{
  width: 50%;
  height: 100%;
}

.size-image{
  width: 100%;
  height: 60%;
}

.section-height{
  height: 100vh;
}

.section-about{
  height: 100vh;
}

.title_service{
  color:hsl(198 100% 45%);
}

.title-service-white{
  color: #ffffff;
}


.card-service:hover{
  background: linear-gradient(286deg, rgba(124,91,166,1) 27%, rgba(208,43,119,1) 100%, rgba(206,255,14,0.816198456153441) 100%);
}

.height-box-img{
  height: 4rem;
}

/* ESTILOS PARA LA SECCION CLIENTES */
.img-client{
  cursor: pointer;
}

.container-carousel{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.box{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  /* box-shadow: 2px 10px 12px rgba(0,0,0,0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}

.model{
  height: 350px;
  max-height: 100%;
  max-width: 100%;
}

/* INICIO ESTILOS PARA LA GALERIA */
/* body{
  max-width: 900px;
  float: none;
  margin: auto; 
} */
#portfolio {  
    margin: 1rem 0;
    /* -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count:3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%; */
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover { 

}
.imagen{
  width: 26%;
  position: relative;
  height:26%;
  margin-bottom:5px;
  /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75); */
  margin-bottom: 20px;
  background-color: orange;
}
.imagen img{
  width: 100%;
  height:100%;
  border-radius: 2%;
  object-fit: cover;
}
.scale-anm {
  transform: scale(1);
}

.btn-g {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.btn-g:hover {
  text-decoration: none;
}

.btn-g:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* FIN ESTILOS PARA LA GALERIA */

@media (max-width: 600px) {
    .section-height{
      height: 100%;
    }
    .section-about{
      height: 100%;
    }
}


@media(max-width:720px){
  .box{
      width: 200px;
      height: 200px;
  }
  .model{
      height:250px;
  }
  .details p{
      font-size: 16px;
      width: 250px;
  }

  .section-about{
    height: 100%;
  }
  
}

@media screen and (max-width:700px){
  .contenedor-imagenes{
      width: 90%;
  }
  .contenedor-imagenes .imagen{
      width: 48%;
  }
}

@media screen and (max-width:450px){

  .contenedor-imagenes{
      width: 98%;
  }
  .contenedor-imagenes .imagen{
      width: 80%;
  }
}
